@import url("https://fonts.googleapis.com/css2?family=Material+Icons&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Icons+Outlined&display=swap");
ul.lista {
    padding-left: 40px;
}
ul.lista > li {
   margin: 20px;
   list-style-type: circle;
}

.contactH2{
    color: red; 
}

.games, .users {
    padding: 30px;
}

button {
    margin-right: 15px;
}

.btn-large i {
    font-size: 2rem;
}

/* strzałka back */
.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header > div {
    margin: 10px;
    display: flex;
    align-items: center;
    height: 55px;
}

.link-header {
    width: 13%;
    text-align: center;
}

.link-header > a {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.link-header > a > i {
    font-size: 53px;
}

.title-header {
    width: 70%;
}

.title-header > h2 {
    margin: 0;
}