@import url("https://fonts.googleapis.com/css2?family=Material+Icons&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Icons+Outlined&display=swap");

ul.lista {
    padding-left: 40px;
}
ul.lista > li {
    margin: 20px;
    list-style-type: circle;
}

.contactH2{
    color: red;
}

.games, .users {
    padding: 30px;
}

.games > h2 {
    margin-bottom: 50px;
}

button {
    margin-right: 15px;
}

.btn-large i {
    font-size: 2rem;
}

.contact {
    margin-top: 100px;
    padding: 1px 50px 30px 50px;
}

.imgGame {
    padding: 20px;
    
}

.imgGame > img {
    border-radius: 20px;
    width: 500px;
}


table.striped tr.borderShadow {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

/* strzałka back */
.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header > div {
    margin: 10px;
    display: flex;
    align-items: center;
    height: 55px;
}
.login-container{
    margin-top: 5%;
}

.login-form {
    margin-top: 3%;
    width: 35%;
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.link-header {
    width: 13%;
    text-align: center;

}

.link-header > a {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.link-header > a > i {
    font-size: 53px;
}

.title-header {
    width: 70%;
}

.title-header > h2 {
    margin: 0;
}

.footer{
    z-index:2;
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: #ee6e73;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

body {

    background: url(https://www.toptal.com/designers/subtlepatterns/uploads/triangle-mosaic.png) repeat;
}